<apex:page controller="QVFKitetimeOpptyToCampaignConvertion" >
	
	<style> 
		.pageError{color:red;font-weight:strong;} 
	</style>
	
	<apex:form >
		<apex:pageBlock title="Please Confirm the details of the New Campaign" >
			<apex:pageBlockButtons >
				<apex:commandButton action="{!Cancel}" value="Cancel" styleClass="btnImportant" immediate="true" />
				<apex:commandButton action="{!Save}" value="Save" rendered="{!NOT(m_bError)}" />
			</apex:pageBlockButtons>
			<apex:messages styleClass="pageError" />
			<apex:pageBlockSection title="">
				<apex:panelGrid columns="2" id="CampaignDetails">
					<!-- Campaign Name -->
					<apex:outputLabel value="Campaign Name: " for="CampaignName" />
					<apex:inputText id="CampaignName" value="{!m_sCampaign.Name}" maxlength="75" size="75" />
					
					<!-- Account Name -->
					<apex:outputLabel value="Account Name: " for="AccountName" />
					<apex:outputText id="AccountName" value="{!m_sOpportunity.Account.Name}" />
					
					<!-- Employee Donations -->
					<apex:outputLabel value="Employee Donation Available: " for="EmployeeDonationAvailable" />
					<img src="{!IF(m_sCampaign.Employee_Donations_Available__c, "/img/checkbox_checked.gif", "/img/checkbox_unchecked.gif")}" /> 
					<!--  apex:outputText id="EmployeeDonationAvailable" value="{!m_sCampaign.Employee_Donations_Available__c}" / -->
					
					<!-- Employer Donation Mating -->
					<apex:outputLabel value="Employer Donation Matching: " for="EmployerDonationMatching" />
					<img src="{!IF(m_sCampaign.Employer_Donation_Matching__c, "/img/checkbox_checked.gif", "/img/checkbox_unchecked.gif")}" /> 
					<!--  apex:outputText id="EmployerDonationMatching" value="{!m_sCampaign.Employer_Donation_Matching__c}" / -->
					
					<!-- Vouchers Available -->
					<apex:outputLabel value="Vouchers Available: " for="VouchersAvailable" />
					<img src="{!IF(m_sCampaign.Vouchers_Available__c, "/img/checkbox_checked.gif", "/img/checkbox_unchecked.gif")}" /> 
					<!--  apex:outputText id="VouchersAvailable" value="{!m_sCampaign.Vouchers_Available__c}" / -->

					<!-- Number of Vouchers -->
					<apex:outputLabel value="Number of Vouchers Purchased: " for="NumberOfVouchersPurchased" />
					<apex:outputText id="NumberOfVouchersPurchased" value="{!m_sCampaign.Number_of_Vouchers_Purchased__c}" />
					
					<!-- Number of Vouchers -->
					<apex:outputLabel value="Voucher Code: " for="VoucherCode" />
					<apex:inputText id="VoucherCode" value="{!m_sCampaign.Voucher_Code__c}" required="{!m_sCampaign.Vouchers_Available__c}" disabled="{!NOT(m_sCampaign.Vouchers_Available__c)}" />
					
					<!-- Target -->
					<apex:outputLabel value="Target: " for="Target" />
					<apex:outputText id="Target" value="${!m_sCampaign.ExpectedRevenue}" />
					
					<!-- Target -->
					<apex:outputLabel value="Campaign Code: " for="CampaignCode" />
					<apex:outputText id="CampaignCode" value="{!m_sCampaign.Campaign_Code__c}" />
					
				</apex:panelGrid>
			</apex:pageBlockSection>
		</apex:pageBlock>
	</apex:form>
</apex:page>