<apex:page controller="QVFMelonMailUpdateManagerController" action="{!Init}">

	<apex:form >
		<apex:pageBlock title="Contacts To Update">

			<apex:outputPanel id="messagesPanel">
				<apex:messages />
			</apex:outputPanel>
		
			<apex:pageBlockSection title="Current Counts" columns="1" id="counts">
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="Contacts to Add to Marketing Database" for="mktAdd" />
					<apex:outputText value="{!m_iNumToAddToMarketingDB}" id="mktAdd" />
				</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="Contacts to Unsubscribe from Marketing Database" for="mktUnsub" />
					<apex:outputText value="{!m_iNumToUnsubFromMarketingDB}" id="mktUnsub" />
				</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="Contacts to Add to Further Information Database" for="fiAdd" />
					<apex:outputText value="{!m_iNumToAddToFurtherInfoDB}" id="fiAdd" />
				</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="Contacts to Unsubscribe from Further Information Database" for="fiUnsub" />
					<apex:outputText value="{!m_iNumToUnsubFromFurtherInfoDB}" id="fiUnsub" />
				</apex:pageBlockSectionItem>			
			</apex:pageBlockSection>
			
			<apex:pageBlockButtons id="theButtons">
				<apex:commandButton action="{!DoAdditions}" value="Do Additions" id="addButton" disabled="{!m_bAddButtonDisabled}" reRender="theButtons, messagesPanel, counts" />
				<apex:commandButton action="{!DoUnsubscribes}" value="Do Unsubscribes" id="unsubButton" disabled="{!m_bUnsubButtonDisabled}" />
			</apex:pageBlockButtons>
		</apex:pageBlock>
	</apex:form>
</apex:page>