<apex:page Controller="QVFPaymentDetailUpdateController" tabstyle="Contact" action="{!Init}">
	<apex:form >
		<apex:pageMessages />
		<apex:sectionHeader title="Payment Detail Update "/>
			<apex:pageblock >
				<apex:pageBlockButtons >
					<apex:commandButton action="{!actionCancel}" value="Cancel" rendered="{!NOT(mp_blnViewOk)}"/>
					<apex:commandButton action="{!ActionUpdate}" value="Save" rendered="{!NOT(mp_blnIsError)}"/>
					<apex:commandButton action="{!actionCancel}" value="Ok" rendered="{!mp_blnViewOk}"/>
				</apex:pageBlockButtons>
	           
	           	<apex:outputPanel rendered="{!NOT(mp_blnIsError)}">
					<table border="0">
						<tr>
							<td><apex:outputText value="Name of Credit Card Holder:"/></td>
							<td><apex:inputText value="{!mp_strCreditCardName}" id="CreditCardName"/></td>							
						</tr>
						<tr>
							<td><apex:outputText value="Card Type"/></td>
							<td>
								<apex:selectList id="theCCreditCardType" value="{!mp_strCreditCardType}" size="1">
									<apex:selectOptions value="{!mp_liCreditCardTypeOptions}" />
								</apex:selectList>
							</td>							
						</tr>
						<tr>
							<td><apex:outputText value="Credit Card Number:"/></td>
							<td><apex:inputText value="{!mp_strCreditCardNumber}" id="CreditCardNumber"/></td>
						</tr>
						<tr>
							<td><apex:outputText value="Credit Card Expiry:" /></td>
							<td>
								<apex:selectList id="theExpiryMonthChooser" value="{!mp_strCreditCardExpireMonth}" size="1">
									<apex:selectOptions value="{!mp_liExpiryMonthOptions}" />
								</apex:selectList>
								<apex:selectList id="theExpiryYearChooser" value="{!mp_strCreditCardExpireYear}" size="1">
									<apex:selectOptions value="{!mp_liExpiryYearOptions}" />
								</apex:selectList>
							</td>
						</tr>
					</table>
	           	</apex:outputPanel>	
			</apex:pageblock>
	</apex:form>
</apex:page>