<apex:page showHeader="false" sidebar="false" controller="QVFRelationshipTreeview" >
	
	<!-- Code for browser detection. DO NOT REMOVE.             -->
	<script type="text/javascript" src="{!URLFOR($Resource.Treeview, '/ua.js')}"/>

	<!-- Infrastructure code for the TreeView. DO NOT REMOVE.   -->
	<script type="text/javascript" src="{!URLFOR($Resource.Treeview, '/ftiens4.js')}"/>
	
	 <style>

	   /*                                                          */
	   /* Styles for the tree.                                     */
	   /*                                                          */
	   SPAN.TreeviewSpanArea A {
	     font-size: 10pt; 
	     font-family: verdana,helvetica; 
	     text-decoration: none;
	     color: black;}
	   SPAN.TreeviewSpanArea A:hover {
	     color: '#820082';}
		   
  	</style>
  	
	<!-- Our Tree   -->
	<script>
		USETEXTLINKS 		= 1
		STARTALLOPEN 		= 0
		USEFRAMES 			= 1
		USEICONS 			= 0
		WRAPTEXT 			= 1
		PRESERVESTATE 		= 0
		HIGHLIGHT 			= 1
		ICONPATH 			= "https://eu3.salesforce.com{!URLFOR($Resource.Treeview)}/"
		
		
		{!TreeString}
		
	</script>
	
	
	<!-- Build the tree.                                         -->

	<!------------------------------------------------------------->
	<!-- IMPORTANT NOTICE:                                       -->
	<!-- Removing the following link will prevent this script    -->
	<!-- from working.  Unless you purchase the registered       -->
	<!-- version of TreeView, you must include this link.        -->
	<!-- If you make any unauthorized changes to the following   -->
	<!-- code, you will violate the user agreement.  If you want -->
	<!-- to remove the link, see the online FAQ for instructions -->
	<!-- on how to obtain a version without the link.            -->
	<!------------------------------------------------------------->
	<font size=-2><a style="font-size:7pt;text-decoration:none;color:silver" href="http://www.treemenu.net/" target=_blank>Javascript Tree Menu</a></font>
		
	<span class="TreeviewSpanArea">
		<script>initializeDocument()</script>
		<noscript>
			A tree for site navigation will open here if you enable JavaScript in your browser.
		</noscript>
	</span>
</apex:page>