<apex:page standardStylesheets="false" showHeader="false" sidebar="false" cache="false">
<!-- Begin Default Content REMOVE THIS -->
<head>
    
        <link href="" rel="stylesheet" type="text/css"/>
        <link href="{!URLFOR($Resource.AvenirFont, 'AvenirNextRoundedPro-Demi.ttf')}" rel="stylesheet" type="text/css"/>
        <link href="{!URLFOR($Resource.AvenirFont, 'AvenirNextRoundedPro-Med.ttf')}" rel="stylesheet" type="text/css"/>
<style>
			@font-face
            {
                font-family: 'Avenir Reg';
                src: url("{!URLFOR($Resource.AvenirFont, 'AvenirNextRoundedPro-Reg.ttf')}");
                src: url("{!URLFOR($Resource.AvenirFont, 'AvenirNextRoundedPro-Reg.eot')}") format('embedded-opentype'),
                	 url("{!URLFOR($Resource.AvenirFont, 'AvenirNextRoundedPro-Reg.ttf')}") format('truetype');
               	font-weight: normal;
				font-style: normal;
            }
            
            @font-face
            {
                font-family: 'Avenir Demi';
                src: url("{!URLFOR($Resource.AvenirFont, 'AvenirNextRoundedPro-Demi.ttf')}");
                src: url("{!URLFOR($Resource.AvenirFont, 'AvenirNextRoundedPro-Demi.eot')}") format('embedded-opentype'),
                	 url("{!URLFOR($Resource.AvenirFont, 'AvenirNextRoundedPro-Demi.ttf')}") format('truetype');
              	font-weight: normal;
				font-style: normal;
            }
            
            @font-face
            {
                font-family: 'Avenir Med';
                src: url("{!URLFOR($Resource.AvenirFont, 'AvenirNextRoundedPro-Med.eot')}");
                src: url("{!URLFOR($Resource.AvenirFont, 'AvenirNextRoundedPro-Med.eot')}") format('embedded-opentype'),
                	 url("{!URLFOR($Resource.AvenirFont, 'AvenirNextRoundedPro-Med.ttf')}") format('truetype');
               	font-weight: normal;
				font-style: normal;
            }
	body
    {
        font-family: 'Avenir Reg', sans-serif;
        color: #757b79;
        font-size: 11pt;
    }
	h1
    {
        font-family: 'Avenir Med';
        font-size: 20pt;
        color: #ea2030;
        margin: 0.25em 0 0 0;
    }
    .wrapper
    {
        width: 680px;
        margin-left: auto;
        margin-right: auto;
    }
    
</style>
</head>
<script type="text/javascript">
window.onload=function()
{
	setCookie("reloadpage","true",1);
}

function setCookie(c_name,value,exdays)
{
	var exdate=new Date();
	exdate.setDate(exdate.getDate() + exdays);
	var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
	document.cookie=c_name + "=" + c_value;
}

</script>

<script language='JavaScript1.1' src='//pixel.mathtag.com/event/js?mt_id=614719&mt_adid=130161&v1=&v2=&v3=&s1=&s2=&s3='></script>

<body>
	<div class="wrapper">
		<p>
			Thank you for joining Club Red. Your generosity will ensure children and young people with cancer, and their families, receive immediate and ongoing support. 
		</p>
		
		<p>
			You will receive a welcome letter via email shortly.
		</p>
		
		<p>
			Please note that regular donation deductions will be made on or just after the 15th of each month.
		</p>
		
		<p>
			Read and watch <a href="http://www.redkite.org.au/real-stories" target="_parent">real stories</a> to learn about the difference your support makes.
		</p>
		
		<p>
			Join us on <a href="https://www.facebook.com/redkitesupporters" target="_parent">Facebook</a> and <a href="https://twitter.com/Redkite" target="_parent">Twitter</a>.
		</p>
	</div>	
</body>
</apex:page>